<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> My App </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">My App</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <h2>Welcome to MorningMadeSimple App!</h2>

    <ion-grid>
      <ion-row>
        <ion-col size="12" size-md="4">
          <ion-button expand="full" routerLink="/news" color="primary">
            News
          </ion-button>
        </ion-col>
        <ion-col size="12" size-md="4">
          <ion-button expand="full" routerLink="/weather" color="secondary">
            Weather
          </ion-button>
        </ion-col>
        <ion-col size="12" size-md="4">
          <ion-button expand="full" routerLink="/about" color="tertiary">
            About
          </ion-button>
        </ion-col>
        <!-- <ion-tabs>
          <ion-tab-bar slot="bottom">
            <ion-tab-button tab="tab1">
              <ion-label>Tab 1</ion-label>
              <ion-icon name="triangle"></ion-icon>
            </ion-tab-button>

            <ion-tab-button tab="tab2">
              <ion-label>Tab 2</ion-label>
              <ion-icon name="ellipse"></ion-icon>
            </ion-tab-button>
          </ion-tab-bar>
        </ion-tabs> -->
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
